.NavigationBarWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: cornflowerblue;
}

.logotype {
    width: 100px;
}

.signIn {
    grid-column: 9/10;
    align-self: center;
    border: 5px;
}

.logotype, 
.signIn {
    cursor: pointer;
}

.profile {
    grid-column: 8/10;
}